.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
    background-color: #8BC7F9;
    margin-left: auto;
    margin-right: auto;
}

.name {
    color:#2c3e50;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}