.container {
    width: 85%;
    position: relative;
}

.title {
    color:#2c3e50;
    font-size: 72px;
    text-align: center;
}

.body {
    font-size: 16px;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}


.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
}